/* Style for our header texts
* --------------------------------------- */

body{

		color: #333;
	font-family: "Roboto", "Noto Sans", sans-serif;
	background-color: #fff;

}
h1{
	font-size: 2rem;		
		color: #333;
	margin:0;
}
h2{
	padding: 20px;
	margin-top: 30px;
	font-size: 1rem;
	font-weight: normal;
	line-height: 160%;
}
p {
	font-size: 0.9rem;

}
.intro{
	display: none;
}

.fp-controlArrow.fp-next{
	border-width: 20px 0 20px 18px;
	border-color:transparent transparent transparent rgba(0,0,0,.3);

}

.fp-controlArrow.fp-prev{
	border-width: 20px 18px 20px 0;
	border-color:transparent rgba(0,0,0,.3) transparent transparent;

}

.fp-controlArrow{
}

	#section1{
		background-color: #f7f7f5;
	max-width: 700px;
	margin:0 auto;

	}
	.section{
		text-align:center;
	}

	/* Overwriting styles for the navigation dots (to place it where we want)
	* --------------------------------------- */

	#fp-nav ul li a span, .fp-slidesNav ul li a span{
		background: #fd96a7;
	}

	.fp-slidesNav.bottom{
		bottom: 15px;
	}

	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #333;
	}

	#section2 h1{
		color: #333;
	}

#fullpage {

}
	.fullbg{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

	}
	.topimage{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 60%;
		width: 100%;

	}
	#slide0{
		background-image: url(../images/0.jpg);
	}
	#bgslide1{
		background-image: url(../images/1_smaller.jpg);
	}

	#bgslide2{
		background-image: url(../images/2_smaller.jpg);
	}

	.fp-tableCell{
		vertical-align: top;
	}

	.intro{		
		padding:30px;
		background-color: rgba(0,0,0,.5);
	}

	#bgslide3{
		background-image: url(../images/3_smaller.jpg);
	}

	#bgslide4{
		background-image: url(../images/4_smaller.jpg);
	}

	@media (min-width: 600px){
		
		
		h2{
			font-size: 1.5em
		}


	}